<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo2.dao.RoleMapper">
    <resultMap id="roleMap" type="com.example.demo2.entity.Role">
        <id column="roid" jdbcType="INTEGER" property="roid" />
        <result column="roname" jdbcType="VARCHAR" property="roname" />
        <collection  property="Resource"  ofType="com.example.demo2.entity.Resource">
            <id property="reid" column="reid" />
            <result property="rename" column="rename" />
        </collection>
    </resultMap>
    <select id="findRoleById" resultType="com.example.demo2.entity.Role">
        select roid, roname from user WHERE roname=#{roname}
    </select>

    <insert id="addRole" parameterType="com.example.demo2.entity.Role">
        insert into role (roid,roname)values (#{roid},#{roname})
    </insert>

    <select id="showAllRoles" resultMap="roleMap">
        select  * from  role ro binner join  role_resource rr on r.roid=rr.roid inner join reource re
        on rr.rr_reid=re.reid
    </select>

    <delete id="deleteRoleById" parameterType="int">
        delete from role where roid=#{roid}
    </delete>
    <update id="updateRole" parameterType="com.example.demo2.entity.Role">
    update role set role.roname=#{roname} where role.roid=#{roid}
    </update>
</mapper>
